@font-face {
  font-family: "Monoton";
  src: local("Monoton"), url(./fonts/Monoton-Regular.ttf) format("truetype");
}

.custom-tooltip {
  position: absolute;
  display: inline;
  background-color: tomato;
  color: #fff;
  text-align: center;
  margin-left: 1rem;
  margin-top: -0.5rem;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 0rem 1rem 1rem 1rem;
  opacity: 0.7;
  z-index: 10;
  transition: all 0.4s cubic-bezier(0.93, 0.88, 0.2, 0.8);
}

.custom-tooltip .tooltip-text {
  text-align: center;
  color: #fff;
  opacity: 1;
}

.btn-steelblue {
  color: steelblue;
  border-color: steelblue;
}

.btn-steelblue:hover {
  color: white;
  background-color: steelblue;
  border-color: steelblue;
}

.bckgrnd-steelblue {
  background-color: steelblue;
}

.brdr-steelblue {
  border-color: steelblue;
}

a {
  text-decoration: none;
  color: #6e6767;
}

a:hover {
  text-decoration: underline;
  color: black;
}

.app-name {
  font-family: Monoton, sans-serif;
  margin-bottom: 0%;
  color: steelblue;
}

.horizontal-scrollable>.row {
  overflow-x: auto;
  white-space: nowrap;
}

.horizontal-scrollable>.row>.col-lg-2 {
  display: inline-block;
  float: none;
}

.white-space {
  white-space: normal;
}

body {
  color: rgb(28, 52, 72);
}

.card>a {
  text-decoration: none;
}

.transparent {
  opacity: 1;
}

div.transparent>div>img {
  opacity: 1;
}

div.background-settings {
  height: auto;
  width: auto;
  background-position: right -200px top;
  background-size: cover;
  background-repeat: no-repeat;
}

div.custom-bg {
  background-image: linear-gradient(to right, rgba(31.5, 31.5, 31.5, 1) 150px, rgba(31.5, 31.5, 31.5, 0.84) 100%);
}

.text-white {
  color: whitesmoke;
}

.favourits {
  border: none;
  color: whitesmoke;
  opacity: 0.7;
}

.favourits:hover {
  transform: scale(1.3, 1.3);
  border: none;
  color: whitesmoke;
  opacity: 1;
}

/* .grad1 {
  background: red;
  background: -webkit-linear-gradient(left, indianred, lightcoral, darkorange, darkgoldenrod, seagreen, lightseagreen, deepskyblue, cornflowerblue);
  background: -o-linear-gradient(right, indianred, lightcoral, darkorange, darkgoldenrod, seagreen, lightseagreen, deepskyblue, cornflowerblue);
  background: -moz-linear-gradient(right, indianred, lightcoral, darkorange, darkgoldenrod, seagreen, lightseagreen, deepskyblue, cornflowerblue);
  background: linear-gradient(to right, indianred, lightcoral, darkorange, darkgoldenrod, seagreen, lightseagreen, deepskyblue, cornflowerblue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */